<div class="max-w-4xl mx-auto p-8 slide-in-up">
  <div class="culinary-card">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Moje Przepisy</h2>
    <div *ngIf="isLoading" class="text-center p-4 text-gray-700">Ładowanie...</div>
    <div *ngIf="recipes.length === 0 && !isLoading" class="text-center text-gray-700 mb-8">Nie masz jeszcze żadnych przepisów.</div>
    <ul class="space-y-4">
      <div *ngFor="let recipe of recipes" class="culinary-result-card">
        <a [routerLink]="['/recipe', recipe.id]" class="text-xl font-semibold text-orange-600 hover:underline">{{ recipe.title }}</a>
        <p class="text-gray-600">Autor: {{ recipe.author }}</p>
        <p *ngIf="recipe.time" class="text-gray-600">Czas: {{ recipe.time }} min</p>
        <p *ngIf="recipe.tags.length" class="text-gray-600">Tagi: {{ recipe.tags.join(', ') }}</p>
      </div>
    </ul>
  </div>
</div>
